{% extends 'base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Reservable</th>
      <th scope="col">Fecha Reserva</th>
      <th scope="col">Hora Inicio</th>
      <th scope="col">Hora Fin</th>
    </tr>
  </thead>
  <tbody>
    {% for reserva in todas_las_reservas %}
      <tr>
        <td>{{ reserva._usuario_reserva }}</td>
        <td>{{ reserva._reservable }}</td>
        <td>{{ reserva._fecha_reserva }}</td>
        <td>{{ reserva._hora_inicio_reserva }}</td>
        <td>{{ reserva._hora_fin_reserva }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'crear-sala-form.html' %}

{% endblock %}
